html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    background-color: black;
    display: grid;
    grid-template-rows: 1fr 50px;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#plancontainer {
    grid-column: 1;
    grid-row: 1;
    background-color: black;
    display: flex;
    align-items: center;
    align-content: stretch;
    overflow: hidden;
}

#controls {
    grid-column: 2;
    grid-row: 1;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: stretch;
    margin-right: 10px;
    padding-right: 10px;
}

#globals {
    grid-column: span 2;
    grid-row: 2;
    color: white;
}

#colorPicker {
    width: 100%;
}

#globalBrightnessPicker {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
}

#plan {
    flex-grow: 1;
    margin: 0px;
    padding: 0px;
    position: relative;
    clip-path: url(#clippath);
    touch-action: none;
}

#outer {
    margin: 0px;
    padding: 0px;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    filter: invert(100%);
    z-index: 1000;
    pointer-events: none;
}

#walls {
    margin: 0px;
    padding: 0px;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10000;
    pointer-events: none;
}

#lightpath {
    margin: 0px;
    padding: 0px;
    display: block;
    opacity: 0.1;
}

#clippath {
    position: absolute;
    top: 0px;
    left: 0px;
    color: #000;
    filter: invert(100%);
}

.light {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.0);
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 10%;
    z-index: 500;
    mix-blend-mode: soft-light;
}

#colorActions {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 20px;
    color: white;
}

#colorActions>button {
    width: 100%;
    background: none;
    margin: 3px;
    font-size: 20px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px 3px;
    color: white;
}