html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    background-color: black;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#plancontainer {
    flex: 3;
    background-color: black;
    display: flex;
    align-items: center;
    align-content: stretch;
}

#controls {
    flex: 1;
    background-color: black;
}

#plan {
    flex-grow: 1;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#walls {
    margin: 0px;
    padding: 0px;
    display: block;
}

#lightpath {
    margin: 0px;
    padding: 0px;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}